.dsa0{
    top:12.5rem; 
    right: -7rem;
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: #fff;
}
.dsa0 button{ 
    display: flex;
      width: 9rem;
    height: 1.8rem;
    border-right: #f3f3f3;
    background-color:transparent;
}
.dsa0 button i{
    margin-right: .6rem;
    margin-top: 3px;
} 
.dsa1 button i{
    margin-right: .5rem;
    margin-top: 3px;
} 
.dsa1 button{ 
    display: flex;
      width: 9rem;
    height: 1.8rem;
    border-right: #f3f3f3;
    background-color: transparent;
}
.dsa1:hover{
    right: 0;
    background-color: rgb(255, 93, 93);
    
} 
.dsa0:hover{
    right: 0;
    background-color: rgb(255, 93, 93);
    
} 
.dsa1{
    top: 10rem; 
    right: -7rem;

    display: flex;
    position: fixed;
    z-index: 2;
    background-color: #fff;
 
}
.dsa0 button p{
    font-size: small;
    
}
.dsa1 button p{
    font-size: small;
    
}
.navbar {

    background-color: transparent;
    width: 100%;
    top: 0;
    right: 0;
    }
    
    .navbar a {
       
        color: rgb(255, 255, 255) !important;
        text-align: center;
        justify-content: center;
        
    
    }
    .collapse{
        margin-right: 3rem;
    }
    
    .collapse a{
       
        margin: 0 1rem;
        text-transform: uppercase;
    
    
    }
    .navbar .icon2 a{
        margin:0  .5rem;
    }
    
    .img-fluid{
        padding: 0 8rem;
    }
    .v-sep{
        position: relative;
        padding:0 .3rem;
    }
   .v-sep::before{
        content: "";
        position: absolute;
        left: 0;
        top: 20%;
        height: 16px;
        border-left: 1px solid rgb(255, 255, 255,.5);
    }
     .navbar.icon{
        padding: 0 4rem;
    }
    .par{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #hero .carousel-item{
        height: 100vh;
        overflow: hidden;
    }
    #hero .carousel-indicators[data-bs-target]{
        height: 10px;
        width: 10px;
        
        
    }
    #hero, #hero .carousel-item {
        height: 100vh;
        overflow: hidden;
    }
    #hero .carousel-item img {
        object-fit: cover;
        height: 100%;
    }
    #hero .carousel-caption {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
    }
    #hero .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    #hero .carousel-item {
        cursor:w-resize;}
    .sec02{
        
        
        left: -5px!important;
        
        
    }
    .sec2{
        background-image: url(../images/homepage-option17-banner-bg.jpg);
        height: 90vh;
        width: 100%;
       
        background-repeat: no-repeat;
        background-position: 50% 100%;

    }
    .sec2 .bht{
        font-size: 2rem;
        font-weight: bold;
        
       
        
    }
     .sec2 .par0{
        margin-top: 7rem;
       text-align: left;
    }
    .sec02 .par0  i,p{
        text-align: left;

    }
    .sec2 .lrm{
        padding-top: 1rem;
        width: 37rem;
        color: rgb(109, 108, 108);
    }
     .sec2 .fact{
        margin-top: 2rem;
        text-align: left;
    }
     .sec2 .fact p{
        font-size: xx-large;
        color: rgb(237, 85, 85);
       

    }
   
     .sec2 .fact span{
        color: rgb(136, 129, 129);
    }
    .fadd h3{
        padding-top: 7rem;
        text-align: center;
    }
    .fadd p{
        padding-top: 1rem;
        text-align: center;
        color: rgb(138, 134, 134);
    }
    .sec02 .fadd1{
        margin-top: 6rem;
    }
    .fadd h3{
        color: #000;
        text-align: center;
    }
    .sec02 .fet1{
        margin: 1rem;
        width: 20%;
        height: 22rem;
        border: 1px solid #e2e3df;
        border-radius: 2px;
        box-sizing:border-box;
        
    }
    .sec02 .ttt1{
        display: flex;
       
        justify-content: center;
        margin-top: 3rem ;
        margin-bottom: 1.5rem;
    }
    .sec02 .fet1 p{
        display: flex;
        width:5rem ;
        height: 5rem;
        background-color: rgb(234, 64, 64);
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        text-align: center ;
        
    }
    .sec02 .fet1 span{
        color: #a0a0a0;
       
    }
    
    .sec3 .trt1{
        width: 25%;
        height: 65vh;
        box-sizing:border-box !important;
    }
    .sec3 .tr1{
        width: 25%!important;;
        height: 65vh;
        background-image: url(../images/homepage-option17-image-01.jpg);
        position: relative !important;
        background-size: cover !important;
        
        background-position: center;
        background-repeat: no-repeat !important;
        box-sizing:border-box !important;
    }

    .sec3 .tt1{
        width: 75%;
        margin-left: 12.5%;
        
    }
    
    .sec3 .tt1 h6,h4{
        color: rgb(255, 255, 255);
        margin-bottom: 0;
        text-align: left;
    }
    .sec3 .tt1 p{
        margin-top: 1.2rem ;
        color: rgb(137, 137, 137);
    }
    .sec3 .tr2{
        background-image: url(../images/homepage-option17-image-02.jpg);
        width: 25%;
        height: 65vh;
        position: relative !important;
        background-size: cover !important;
        
        background-position: center;
        background-repeat: no-repeat !important;
        box-sizing:border-box !important;
    }
    .sec3 .tt1 button{
     
        margin-top: 1.2rem;
    }
    .sec3 .tt1 h6{
        color: rgb(137, 137, 137);
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    .sec3{
        width: 100% !important;
        margin-top: 6rem;
    }
    .sec5{
        margin-top: 6rem;
        height:55vh ;
    }
    .sec05{
        height:55vh;
    }
    .sec5 .trt11 span{
        color: #000;
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 2.3rem;
        width: 100%;
       
    }
    .sec5 i{
        margin-right: .5rem;
    }
.sec5 .ptp2{
    text-align: left;
    width: 80%
    
}
.sec5 .ptp2 hr{
    margin-top: -.7rem;
}
.sec5 .ptp2 p{
    color: rgb(128, 125, 125);
    margin-top: 1rem;
}
.sec5 .ptp2 button:hover{
    background-color: aliceblue;

}
.sec5 .btnd{
    background-color: #000;
    border-color: #000;
    border-radius: 5px;
    color: white;
    height: 2.5rem;
}
.sec5 .btnd:hover
{
    background-color: transparent;
    border-color: #000;
    color: #000;
}
.sec6{
    height: 90vh;
}
.set1{
   
    background-color: #a0a0a0;
}

.cont img{
    width: 100hv;
    height: 100vh;
    position: relative !important;
    overflow: hidden
    
}

.sec4 .photo{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    
   
}

 .sec4 .photo .item0{
 
    margin:3px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
   height: 100%;
    bottom: 0px;
    width: 24%;
    
   
 }

 .sec4 .links{
    justify-content: center;
    text-transform: uppercase;
    
    
 }
 .sec4 .links a{
    color: rgb(103, 99, 99);
    padding: 2rem;
    
   
 }
 
 .sec4 .item0 img{
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
   position: absolute;
    background-repeat: no-repeat;
    box-sizing: border-box;
   
    
 }

 
 .sec4 .itm-p{
    
    background-color: #fff;
    width: 100%;
    height: 40vh;
    margin: 1rem;
    box-sizing: border-box;
 
}
.sec4 .itm-p0{
    margin-top: 13rem;
}
.sec4 .itm-p p,pre{
    text-align: center;
    
}
.sec4 .row{
    margin: 2rem 0 !important;
}
 .sec6{
    width: 100%;
    height: 90vh;
    background-color: #f3f3f3;
    margin-top: 5rem;
    overflow: hidden;
 }
 
 
 .sec6 .img0{
    width: 100%;
    height: 90vh;
   
 }
 .sec6 .par{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3rem;
    
 }
 .sec6 .par h3 {
    width:100%;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}
  .sec6 .par i{
    font-size: 3rem;
  }
  .sec6 .par div{
    padding: .5rem;
  }
  .sec6 .p-lorem{
    font-size:small;
    color: #a0a0a0;
  }
  .sec7{
    margin-top: 5rem;
  }
 .sec07{
    overflow: hidden;
 }
 .sec007 img{
    padding: .7rem;
    width: 100%;
 }
 .sec7-par h2,p{
    text-align: center;
 }
 .sec7 p {
    color: #a0a0a0;
    text-align: center;
 }
 .sec7 hr{
    width: 8%;
    color: red;
    margin-bottom: 4rem;
    
    margin-left: 46%;
    font-weight: bold;
 }
 .sec007 p{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: -.1rem;
 }
 .sec007 span{
    color: #a0a0a0;
    
 }
 .sec007 .text-black{
    text-align: center;
 }
 .sec7 .col-4{
    margin:0 -2.5rem !important;
 }
 .sec8 .row{
    margin-left: 5rem !important;
    margin-top: 7rem !important;
 }
 .sec8 {
    margin-top: 5rem;
    background-image: url(../images/homepage-9-parallax-img5.jpg);
    height: 95vh;
    
    width: 100%;
    overflow: hidden;
}
.sec8 .img-lab{
    width: 100%;
}
.sec8 .par01 h1{
    width: 100%;
}
.sec8 .par01{
    width: 75%;
    
}
.sec8 .par1 p>i{
    color: rgb(230, 31, 31);
    margin-right: .5rem;
}
.sec8 .par1 p,hr{
    text-align: left;
    color: #a0a0a0;
}
.sec9{
    
    margin: 8rem;
}
.btnk{
    background-color: #fff;
    border-color: #fff;
    border-radius: 5px;
    
    color: black;
    height: 2.5rem;
    margin-top: 1.5rem;
}
.btnk:hover
{
    background-color: black;
    border-color: #fff;
    color: #fff;
}
.sec9 img{
   
    width: 100%;
}
.sec9 .part01>.part1{
margin: 2rem;
width: 85%;
}
.btnf{
    background-color: #000;
    border-color: #000;
    border-radius: 5px;
    color: white;
    
}
.btnf:hover
{
    background-color: transparent;
    border-color: #000;
    color: #000;
}
.sec9 .row1{
    margin-bottom: 5rem;
}
.sec9 .part1>p,h2,span{
    text-align: left;
}
.sec9 .part1>h2{
    margin-bottom:1rem;
}
.sec9 .part1>p{
    color: red;
    text-align: left;
}
.sec9 .part1>span{
    color: #a0a0a0;
    font-size: .9rem;
    
}
.sec9 .row2{
    margin-top: 5rem;
}
.sec9 .part1>.btnf{
    margin-top: 1.5rem;
    }
    .sec9 .row2 i{
        font-size: 3rem;
        margin-right: 1rem;
    }
    .sec9 .row2 p{
    text-align: left;
    font-size: medium;

    }
    .sec9 .row2 span{
        text-align: left;
        font-size: small;
        color: #797676;
    }
    .sec10{
        overflow: hidden;
        height: 85vh;
        background-color: #eaebe5;
    }
    .sec10 img{
        max-width: 100%;
        height: 85vh;
        
    }
.sec10 .row .xrow{
    width: 70%;
margin: 15%;
}
.sec10 .row .xrow>p{
    text-align: left;
    color: red;
}
.sec10 .row .xrow>h1{
    font-size: 3rem;
margin-bottom: .5rem
;}
    .sec10 .row .xrow>span{
        color: #797676;
        
    }
    .sec10 .row .xrow>.btnf{
        margin-top: 2rem;
    }
    .sec11  .row{
        margin-left: 5rem;
     }
    .sec11 .sec011 i{
        font-size: 3rem;
        margin-right: .5rem;

    }
    .sec11 .sec011 {
        margin: 5rem;
    }
    .sec11 .sec011 p{
        font-size: small;
        margin-top: -.3rem;
        color: #797676;
    }
    .sec12 .iconn{
        font-size: 6rem;
        margin-top: 8rem;
        margin-bottom: 1rem;
    }
    .sec12 .iconn:hover{
        transform: scale(1.3 ,1.3);
    }
    .sec12{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/parallax-bg6.jpg");
        width: 100%;
        height: 85vh;
        background-size: cover;
        
        background-position: 50% 50%;
        position: relative;
        background-repeat: no-repeat;
        
    }
    .sec12 .sec012 p{
        margin-top: 2rem;
        margin-bottom:3rem;
        color: rgb(177, 177, 177);
        text-align: center;
    }
    .sec12 .sec012{
        
        text-align: center;
        color:rgb(219, 219, 219);
        
    }
    
    .btnm{
        background-color: #fff;
        border-color: #fff;
        border-radius: 10px;
        
        color: black;
        height: 2.5rem;
        margin-top: 1.5rem;
    }
    .btnm:hover
    {
        background-color: rgba(0, 0, 0, 0);
        border-color: #fff;
        color: #fff;
    }
   .sec13 div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .sec13 ul
{
    list-style: none;
    margin-bottom: 0px;
}
.sec13 p
{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.sec13 p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.sec13 a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.sec13 p a:active
{
    position: relative;
    color: #FF6347;
}
.sec13 p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;

}
.sec14 {
    background-color: #e2e2e2;
    height: 110vh;
    margin-top: 4rem;
}

.sec14 .sec14-par {
   padding-top: 5rem;
}
.sec14 .sec14-par h2{
    text-align: center;
 }
 .sec14 .sec14-par> p{
    color: #a0a0a0;
    font-size: small;
    text-align: center;
    
 }
 .sec14 .sec14-par>hr{
    width: 8%;
    color: red;
    
    margin-left: 46%;
    font-weight: bold;
 }
 
 .sec14 .sec14-par2  {
    padding-top: 3rem;
 }
 .sec14 .sec14-par2 .imgrt0 {
    margin-left: 8.5rem;
   
 }
 .sec14 .sec14-par2 .imgrt {
   
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    overflow: hidden;
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
 }
 
 .sec14-par002{
    
    width: 95%;
    background-color: white;
    height: 30rem;
    text-shadow: #797676;
 }
 .sec14 .par-12 p{
    color: #a0a0a0;
    text-align: center;
 }
 .sec14 .par-12 h6{
    margin-top: 2rem;
 }
 .sec14 .par-12 span{
color: #a0a0a0;
font-size: small;
 }
 .sec14 .par-12{
    width: 70%;
    margin-left: 15%;
 }

    .sec15{
        margin-top: 8rem;
    }
    .sec15 .sec15-par{
        margin-bottom: 7rem;
    }

    .sec15-par h2{
        text-align: center;
     }
     .sec15-par p{
        color: #a0a0a0;
        font-size: small;
        text-align: center;
        
     }
     .sec15 .sec15-par h2{
        margin-top: -.5rem;}
     .sec15 .sec15-par>hr{
        width: 8%;
        color: red;
        
        margin-left: 46%;
        font-weight: bold;
     }
    .sec15 img{
        width: 100%;
    }
    .sec15 .das0{
        overflow: hidden;
    }
     .sec15 img:hover{
       
        filter: opacity(60%);
        transform:scale(110%);
        backface-visibility: hidden;
        transition: all 0.2s ease-out;
}

     
    .sec15 .container {
        padding: 0 7rem ;
    }
    .sec15 .container .row .col-3> p{
        color: rgb(108, 108, 108);
        font-size: small;
    }
    .sec15 .container .row .col-3> pre,a,p{
        text-align: left;
    }
    .sec15 .container .row pre{
        margin-top: 1rem;
        font-size: small;
        color:#797676;
       
    }
    .sec15 .container .row pre>a{
        color: #797676;
        text-decoration: none;

    }
    .sec15 .container .row a:hover{
color: red;

    }
    .sec15 .container .row .col-3>a{
        color: #000;
        text-decoration:none;
    }
    .sec15 .container .row .col-3>a:hover{
        color: red;
    }
    .sec16 {
        margin-top: 5rem;
    }
    .sec16 .sec16_par1{
        height: 7rem;
        background-color: #000;

    }
    .sec16 .sec16_par1 p{
        color: #a0a0a0;
        font-size: small;
        text-align: center;
        
    }
    .sec16 .sec16_par1 i{
        color: #fff;
        margin:0 .7rem;
    }
    .sec16 .sec16_par1 i:hover{
        color: red;
    }
    
  
    .sec16 .sec16_par1 .container .row .col-4{

        margin-top: 3rem;
    }
    .sec16 .sec16_par2{
        background-color:rgb(24, 24, 24);
        height: 58vh;
    }
    .sec16 .sec16_par2 .container{
        padding-top:  4rem;
    }
    .sec16 .sec16_par2 .sec16-par02  img{
        width: 20%;
        height: 75%;
    }
    .sec16 .sec16_par2 .sec16-par02 a{
        color: #797676;
        text-decoration: none;
    }
    .sec16 .sec16_par2 .sec16-par02 a:hover{
        color: red;
    }
    .sec16 .sec16_par2 .sec16-par02 pre{
        color: #797676;
        padding: .1rem .5rem;
        text-align: left;
        font-size: small;
    }
    .sec16 .sec16_par2 .sec16-par02 hr{
        margin-top: -.1rem;
        width: 90%;
    }
    .sec16 .sec16_par2 .container .row .sec16-par12 img{
        width: 100%; 
        padding-bottom: 1.5rem;
    }
    .sec16 .sec16_par2 .container .row  h6{
        color: #8d8d8d;
        text-align: left;
        margin-bottom: 1.5rem;

    }
    .sec16 .sec16_par2 .container .row p{
        color: #636161;
        font-size: small;
        
        margin-bottom: 2rem;
    }
    .sec16 .sec16_par2 .container .row> hr{
        margin: 2rem 0;
    }
    .sec16 .sec16_par2 .container .row p>a{
        text-decoration: none;
        color: #7f7d7d;
    }
    .sec16 .sec16_par2 .container .row p>a:hover{
        color: red;
   
    }
    
    .sec16 .sec16-par12 img:hover{
        transform: scale(1.1,1.1);
    }
    


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 220px;
    perspective: 1000px;
    margin-left: 11rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fff;
    color: rgb(255, 255, 255);
  }
  
  .flip-card-back {
    background-color: #ff5500;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }
  .flip-card-back p{
    margin-top: 5rem;
  }
  .sec13 {
    margin-top: 5rem;
    width: 60% ;
    margin-left: 20%;}
.sec7  .col-4>pre{
    
    margin-left: 18rem;
  }
  .sec4_p{
    display: flex;
    flex-wrap: wrap;
  }
  .xas1{
display: flex;
width: 25%;
height: 20rem;
box-sizing: border-box;
}
.xas1 .xs1{
margin-top: 14rem;
 width: 100%;
}
.xas1 .xs1 >h6 ,.xas1 .xs1 >p{
  text-transform: uppercase;
   text-align: center;
}
.xas1 img{
    position: absolute;
    width: 25%;
    padding: 1rem;
    position: 0 100% ;
    box-sizing: border-box;

}
.xas1 img:hover{
    height:30%;
   
}